<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Today's Comic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>XKCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A0C302D1CA473B3007FB782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A68FC2F1CA4A354003ADB98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AAB32611CA0A35300642CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AAB32781CA0A35300642CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AAB32831CA0A35300642CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
